
asmt2/COMP30027_Project2_rubric.pdf

asmt2/COMP30027_Project2_spec_2023S1.pdf

asmt2/project_data_files/.DS_Store

asmt2/report_template_word/COMP30027-report-template.pdf

*.docx

asmt2/.DS_Store

predictions.csv
